<div class="w-full bg-white">

  <!-- section title with purple underline -->
  <div class="border-b border-[#E6E6E6] relative mb-6">
    <h2 class="text-[12px] font-bold text-[#000]">Business & Tax Registration Documents</h2>
    <div class="absolute left-0 bottom-0 w-[230px] h-[2px] bg-[#7345F7]"></div>
  </div>

  <!-- 2 column fields -->
  <div class="grid grid-cols-2 gap-1 text-[9px]">

      <div>
        <label class="font-bold text-[#0000008F]">PAN Card (or equivalent tax ID)<span class="text-red-500">*</span></label>
       <input formControlName="pan" type="text" class="mt-1 w-full h-[32px] border border-[#CFCFCF] rounded-lg px-3 text-[9px] text-[#7C6FA2]"
  placeholder="Confirms tax registration and identity"/>

<div *ngIf="form.get('pan')?.touched && form.get('pan')?.invalid" class="text-red-500 text-[8px]">
  PAN is required.
</div>
        </div>

      <div>
        <label class="font-bold text-[#0000008F]">GST / VAT Registration Certificate<span class="text-red-500">*</span></label>
        <input formControlName="gst" type="text" class="mt-1 w-full h-[32px] border border-[#CFCFCF] rounded-lg px-3 text-[9px] text-[#7C6FA2]"
  placeholder="Validates indirect tax compliance"/>

<div *ngIf="form.get('gst')?.touched && form.get('gst')?.invalid" class="text-red-500 text-[8px]">
  GST is required.
</div>
</div>
      <div>
        <label class="font-bold text-[#0000008F]">Udyam / MSME Registration (if applicable)<span class="text-red-500">*</span></label>
        <input type="text" class="mt-1 w-full h-[32px] border border-[#CFCFCF] rounded-lg px-3 text-[9px] text-[#7C6FA2]" placeholder="Confirms small/medium enterprise status"/>
      </div>

      <div>
        <label class="font-bold text-[#0000008F]">Certificate of Incorporation<span class="text-red-500">*</span></label>
        <select formControlName="incorp" class="mt-1 w-full h-[32px] border border-[#CFCFCF] rounded-lg px-3 text-[9px] text-[#7C6FA2]">
  <option value="">Legal proof of company existence</option>
</select>

<div *ngIf="form.get('incorp')?.touched && form.get('incorp')?.invalid" class="text-red-500 text-[8px]">
  Certificate is required.
</div>
      </div>

  </div>

  <!-- full width field -->
  <div>
    <label class="text-[9px] font-semibold text-[#0000008F]">Business License / Trade License<span class="text-red-500">*</span></label>
  <input formControlName="tradeLicense" type="text" class="mt-1 w-full h-[32px] border border-[#CFCFCF] rounded-lg px-3 text-[9px] text-[#7C6FA2]"
  placeholder="Confirms legal authorization to operate"/>

<div *ngIf="form.get('tradeLicense')?.touched && form.get('tradeLicense')?.invalid" class="text-red-500 text-[8px]">
  License is required.
</div>
  </div>

  <!-- drag drop -->
<div>
  <label class="text-[9px] font-bold text-[#0000008F]">Supported Document
    <span class="text-red-500">*</span>
  </label>

  <input type="file"
         accept="application/pdf"
         class="hidden"
         #fileInput
         (change)="onFileChange('supportedDocument', $event)"
  />

  <div class="mt-2 w-full h-[190px] border border-dashed border-[#C9B0FF] rounded-xl flex items-center justify-center text-center cursor-pointer"
       (click)="fileInput.click()"
       (drop)="handleDrop($event)"
       (dragover)="allowDrop($event)">
    <div class="text-[#7C6FA2] text-[9px]">
      <div class="text-[20px] mb-2">
        <span class="material-symbols-outlined">
cloud_upload
</span>
      </div>
      Click to upload or drag and drop <br/> PDF(MAX 10MB)
    </div>
  </div>

  <!-- filename -->
  <div *ngIf="selectedFileName" class="text-[8px] text-[#7C6FA2] mt-2">
    Selected: {{ selectedFileName }}
  </div>

  <div *ngIf="form.get('supportedDocument')?.touched && form.get('supportedDocument')?.invalid"
       class="text-[8px] text-red-500 mt-1">
    Document required (PDF max 10MB)
  </div>
</div>



</div>
