



.input-style-po {
  width: 100%;
  height: 45px;
  border-radius: 0.75rem;
  border: 1px solid rgba(67, 25, 194, 0.27);
  color: #4319C2;
  font-size: 0.875rem; /* text-sm */
}

.input-style-po::placeholder {
  color: rgba(67, 25, 194, 0.38);
}

/* Focus styles */
.input-style-po:focus {
  outline: none;
  border-color: #4319C2;
 
}
.card-style-po {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

