<div class="min-h-screen grid lg:grid-cols-2 grid-cols-1 bg-white">
  <!-- Left Section - Login Form -->
  <div class="relative col-span-1  flex items-center justify-center lg:px-16">
    <div class="absolute -top-[73%] -left-[61%] w-[150%] opacity-30 pointer-events-none">
      <img src="assets/icons/bg-art.svg" alt="" />
    </div>

    <div class="w-full flex flex-col justify-between h-full">
      <div class="flex items-center w-full mt-7">
        <h3 class="text-lg font-medium text-[#2C2E42] z-0">
          A<span class="text-primary-600">ii</span>nhome<span class="font-bold px-1">|</span>
          <span class="font-bold">PO</span>
        </h3>
      </div>

      <div class="max-w-md w-full mx-auto z-10">
        <h1 class="text-3xl font-bold text-primary-600 mb-2 justify-center text-center">Log in</h1>

        <!-- Login Form -->
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-5 z-10">
          <!-- Vendor ID Field -->
          <div>
              <label for="vendorId" class="text-primary-600 font-medium text-sm mb-2 block">Vendor ID</label>
              <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="material-icons text-gray-400 text-sm">person_outline</span>
              </span>
              <input id="vendorId" type="text" formControlName="vendorId" autocomplete="username"
                placeholder="Enter your Vendor ID" [class]="
      'input-style-po pl-11 ' +
      (loginForm.get('vendorId')?.touched && loginForm.get('vendorId')?.invalid
        ? 'border-red-300'
        : 'border-gray-300')
    " />
              <!-- <img src="assets/icons/id_card.svg" class="absolute left-3 top-1/2 h-7 w-7" /> -->

            </div>

            @if (getErrorMessage('vendorId')) {
            <p class="mt-1 text-xs text-red-600">{{ getErrorMessage('vendorId') }}</p>
            }
          </div>


          <!-- Password Field -->
          <div>
            
              <label for="password" class="text-primary-600 font-medium text-sm mb-2 block">
                Password
              </label>
            <div class="relative mb-2">
               <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="material-icons text-gray-400 text-sm">lock_outline</span>
               </span>
              <input id="password" [type]="showPassword() ? 'text' : 'password'" formControlName="password"
                autocomplete="current-password" placeholder="Enter your password" [class]="
      'input-style-po pl-11 pr-10 ' +
      (loginForm.get('password')?.touched && loginForm.get('password')?.invalid
        ? 'border-red-300'
        : 'border-gray-300')
    " />

              <!-- Left Lock Icon -->
              <!-- <img src="assets/icons/encrypted.svg" alt="" class="absolute left-3 top-1/2  h-7 w-7" /> -->

              <!-- Keep Material Icon Eye Toggle -->
           <button type="button" (click)="togglePasswordVisibility()" class="absolute inset-y-0 right-0 pr-3 flex items-center" >
             <span class="material-icons text-gray-400 text-sm hover:text-gray-600"> {{ showPassword() ? 'visibility' : 'visibility_off' }} </span> 
            </button>
            </div>

            @if (getErrorMessage('password')) {
            <p class="mt-1 text-xs text-red-600">{{ getErrorMessage('password') }}</p>
            }
          </div>

          <!-- Submit Button -->
          <button type="submit" [disabled]="loginForm.invalid || isSubmitting()"
            class="w-full flex justify-center items-center py-3 px-4 border border-transparent text-sm font-semibold rounded-lg mt-8 transition-colors duration-300"
            [ngClass]="{'bg-primary-600 text-white cursor-pointer hover:bg-primary-700': loginForm.valid, 'bg-[#D9D9D9] text-[#4319C245] cursor-not-allowed': loginForm.invalid || isSubmitting()}">
            @if (isSubmitting()) {
            <svg class="animate-spin h-5 w-5 text-white mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
              </path>
            </svg>
            <span>Authenticating...</span>
            } @else {
            <span>Authenticate</span>
            }
          </button>
        </form>
        <!-- Register Link -->
        <div class="mt-6 text-center">
          <p class="text-sm text-[#4319C280] font-medium">
            Don't have an account?
            <a href="#" class="font-semibold text-primary-600 hover:text-primary-700 transition-colors">
              Register here
            </a>
          </p>
        </div>
      </div>

      <!-- Demo Credentials -->
      <div class="mt-8 max-w-md w-full mx-auto bottom-0">

        <div class="card-style-po rounded-2xl px-6 py-3 w-full">

          <!-- Header -->
          <div class="flex items-center justify-between cursor-pointer" (click)="toggleExpand()" role="button"
            aria-expanded="{{ isExpanded }}" tabindex="0">
            <span class="text-primary-600 font-semibold text-sm">
              Know your Onboarding status
            </span>

            <button type="button" (click)="toggleExpand($event)" class="p-1 rounded-md focus:outline-none z-30"
              aria-label="Toggle onboarding status panel">
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-primary-600 transition-transform duration-300"
                [class.rotate-180]="isExpanded" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
              </svg>
            </button>
          </div>

          <!-- Expandable section -->
          @if (isExpanded) {
          <div class="transition-all duration-500 overflow-hidden mt-3 max-h-40">

            <!-- Vendor ID input box -->
            <div class="flex items-center border border-[#C4B5FD] rounded-lg px-3 mb-3">
              <img src="assets/icons/id_card.svg" alt="" class="h-6 w-6" />

              <input type="text" class="flex-1 ml-3 py-2 text-sm placeholder-[#A78BFA] focus:outline-none"
                placeholder="Enter your initial ID" />

              <button aria-label="Submit initial id">
                <img src="assets/icons/arrow_circle_down.svg" alt="" class="h-6 w-6" />
              </button>
            </div>

            <!-- Demo Buttons -->


          </div>
          }
        </div>
      </div>

    </div>
  </div>

  <!-- Right Section - Dashboard Preview -->
  <div class="flex items-center justify-end pr-6">
    <div
      class="w-[83%] h-[680px] bg-linear-to-br from-primary-600 to-[#200C5CE5] rounded-3xl items-center justify-center overflow-hidden">
      <div class="flex flex-col">
        <div class="pt-7 pl-16 mt-10">
          <h1 class="mb-5">
            <span class="font-extrabold font-inter text-3xl text-white">Procure</span><span
              class="text-white font-extralight font-inter text-3xl">One</span>
          </h1>
        </div>
        <!-- Subtitle -->
        <div class="pl-16 mb-20">
          <p class="text-sm font-inter text-[#D9D9D9]">
            “One Unified Procurement Ecosystem.”
            <span>
              <p>
                Represents a single integrated solution for all procurement types.
              </p>
            </span>
          </p>
        </div>

        <!-- Dashboard Image -->
        <div class="flex pl-16 mt-4">
          <div class=" 
                          
                           rounded-t-3xl rounded-bl-3xl rounded-tl-3xl md:rounded-4xl
                            border-l-[6px] border-t-[6px] border-b-[6px]
                            md:border-l-8 md:border-t-8 md:border-b-8
                            border-[#D9D9D9] card-style-po -mr-5 
                            ">
            <img src="assets/images/Vendor Dashboard.svg" alt="Dashboard Preview" class="rounded-3xl" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>