<div class="w-full py-2">

    <!-- title -->

    <div class="border-b border-[#D9D9D9] relative mb-3">
        <p class="text-[13px] pb-1 font-semibold text-[#000000] mb-3">
            Bank & Financial Identity Verification
        </p>
        <div class="left-0 bottom-0 w-[230px] h-[5px] bg-primary-600 rounded-tr-[13px] rounded-tl-[15px]"></div>
    </div>


    <!-- row 1 -->
    <div class="grid grid-cols-2 gap-6">

        <!-- Cancelled Cheque -->
        <div>
            <label class="text-[11px] font-bold text-[#0000008F]">
                Cancelled Cheque / Bank Account Proof
                <span class="text-red-500">*</span>
            </label>

            <div class="mt-1 border border-dashed border-[#C8BFF8] rounded-xl min-h-55 flex items-center justify-center bg-[#FBF9FF]"
                (click)="cancelCheque.click()">

                <input type="file" class="hidden" #cancelCheque accept="application/pdf"
                    (change)="onFileChange('cancelCheque',$event)" />

                <div class="flex flex-col items-center justify-center text-center cursor-pointer text-[#7B51D3]">
                    <div class="">
                        <span class="material-symbols-outlined text-[#4319C245]"> cloud_upload </span>
                    </div>

                    <p class="text-[11px] text-[#7C6FA2]">
                        <span class="font-semibold">Click to upload</span><span> or drag and drop</span><br>
                        <span class="text-[10px] text-[#7C6FA2]">PDF(MAX 5MB)</span>
                    </p>
                </div>
            </div>

            @if (uploadedFiles.cancelCheque) {
            <div class="mt-2 text-[10px] text-green-600 flex items-center gap-2">
                {{ uploadedFiles.cancelCheque.name }}
                <button (click)="removeFile('cancelCheque')" class="text-red-500 text-[12px] font-bold">X</button>
            </div>
            }
        </div>

        <!-- Bank Statement -->
        <div>
            <label class="text-[11px] font-bold text-[#0000008F]">
                Bank Statement (Last 6-12 Months)
                <span class="text-red-500">*</span>
            </label>

            <div class="mt-1 border border-dashed border-[#C8BFF8] rounded-xl min-h-55 flex items-center justify-center bg-[#FBF9FF]"
                (click)="bankStatement.click()">

                <input type="file" class="hidden" #bankStatement accept="application/pdf"
                    (change)="onFileChange('bankStatement',$event)" />

                <div class="flex flex-col items-center justify-center text-center cursor-pointer text-[#7B51D3]">
                    <div class="">
                        <span class="material-symbols-outlined text-[#4319C245]"> cloud_upload </span>
                    </div>

                    <p class="text-[11px] text-[#7C6FA2]">
                        <span class="font-semibold">Click to upload</span><span> or drag and drop</span><br>
                        <span class="text-[10px] text-[#7C6FA2]">PDF(MAX 5MB)</span>
                    </p>
                </div>
            </div>

            @if (uploadedFiles.bankStatement) {
            <div class="mt-2 text-[10px] text-green-600 flex items-center gap-2">
                {{ uploadedFiles.bankStatement.name }}
                <button (click)="removeFile('bankStatement')" class="text-red-500 text-[12px] font-bold">X</button>
            </div>
            }
        </div>

    </div>

    <!-- row 2 -->
    <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
            <label class="text-[11px] font-bold text-[#0000008F]">
                Bank Verification Letter (Optional)
            </label>

            <div class="mt-1 border border-dashed border-[#C8BFF8] rounded-xl min-h-55 flex items-center justify-center bg-[#FBF9FF]"
                (click)="verifyLetter.click()">

                <input type="file" class="hidden" #verifyLetter accept="application/pdf"
                    (change)="onFileChange('verifyLetter',$event)" />

                <div class="flex flex-col items-center justify-center text-center cursor-pointer text-[#7B51D3]">
                    <div class="">
                        <span class="material-symbols-outlined text-[#4319C245]"> cloud_upload </span>
                    </div>
                    <p class="text-[11px] text-[#7C6FA2]">
                        <span class="font-semibold">Click to upload</span><span> or drag and drop</span><br>
                        <span class="text-[10px] text-[#7C6FA2]">PDF(MAX 5MB)</span>
                    </p>
                </div>
            </div>

            @if (uploadedFiles.verifyLetter) {
            <div class="mt-2 text-[10px] text-green-600 flex items-center gap-2">
                {{ uploadedFiles.verifyLetter.name }}
                <button (click)="removeFile('verifyLetter')" class="text-red-500 text-[12px] font-bold">X</button>
            </div>
            }
        </div>
    </div>
</div>