<div class="">

  <div class="">
    <!-- 1. Identity and Address Details -->
    <!-- <app-identity-details></app-identity-details> -->

    <!-- 2. Business Registration Documents -->
    <app-busniness-registration-documents></app-busniness-registration-documents>

    <!-- 3. Bank and Financial Identity Verification -->
    <!-- <app-bank-financial-details></app-bank-financial-details> -->

    <!-- 4. Financial Information  -->
    <!-- <app-financial-performace-documents></app-financial-performace-documents> -->

  
</div>