<div class="w-full bg-white" [formGroup]="form">
  <!-- section title with purple underline -->
  <div class="border-b border-[#E6E6E6] relative mb-6">
    <h2 class="text-[12px] pb-1 font-bold text-[#000000]">Business & Tax Registration Documents</h2>
    <div class="left-0 bottom-0 w-60 h-[5px] bg-primary-600 rounded-tr-[13px] rounded-tl-[15px]"></div>
  </div>

  <!-- 2 column fields -->
  <div class="grid grid-cols-2 gap-4 text-[11px]">
    <div>
      <label class="font-bold text-[#0000008F]">PAN Card (or equivalent tax ID)<span
          class="text-red-500">*</span></label>
      <input formControlName="pan" type="text"
        class="mt-1 w-full h-10.5 border border-[#4319C245] rounded-lg px-3 text-[10px] text-[#7C6FA2]"
        placeholder="Confirms tax registration and identity" />

      @if (form.get('pan')?.touched && form.get('pan')?.invalid) {
        <div class="text-red-500 text-[8px]">
          PAN is required.
        </div>
      }
    </div>

    <div>
      <label class="font-bold text-[#0000008F]">GST / VAT Registration Certificate<span
          class="text-red-500">*</span></label>
      <input formControlName="gst" type="text"
        class="mt-1 w-full h-10.5 border border-[#4319C245] rounded-lg px-3 text-[10px] text-[#7C6FA2]"
        placeholder="Validates indirect tax compliance" />

      @if (form.get('gst')?.touched && form.get('gst')?.invalid) {
        <div class="text-red-500 text-[8px]">
          GST is required.
        </div>
      }
    </div>
    <div>
      <label class="font-bold text-[#0000008F]">Udyam / MSME Registration (if applicable)<span
          class="text-red-500">*</span></label>
      <input type="text"
        class="mt-1 w-full h-10.5 border border-[#4319C245] rounded-lg px-3 text-[10px] text-[#7C6FA2]"
        placeholder="Confirms small/medium enterprise status" />
    </div>

    <div>
      <label class="font-bold text-[#0000008F]">Certificate of Incorporation<span class="text-red-500">*</span></label>
      <select formControlName="incorp"
        class="mt-1 w-full h-10.5 border border-[#4319C245] rounded-lg px-3 text-[10px] text-[#7C6FA2]">
        <option value="">Select company type</option>
        @for (type of incorporationTypes; track type.value) {
          <option [value]="type.value">
            {{ type.label }}
          </option>
        }
      </select>

      @if (form.get('incorp')?.touched && form.get('incorp')?.invalid) {
        <div class="text-red-500 text-[8px]">
          Certificate is required.
        </div>
      }
    </div>
  </div>

  <!-- full width field -->
  <div>
    <label class="text-[11px] font-semibold text-[#0000008F]">Business License / Trade License<span
        class="text-red-500">*</span></label>
    <input formControlName="tradeLicense" type="text"
      class="mt-1 w-full h-10.5 border border-[#4319C245] rounded-lg px-3 text-[10px] text-[#7C6FA2]"
      placeholder="Confirms legal authorization to operate" />

    @if (form.get('tradeLicense')?.touched && form.get('tradeLicense')?.invalid) {
      <div class="text-red-500 text-[8px]">
        License is required.
      </div>
    }
  </div>

  <!-- drag drop -->
  <div>
    <label class="text-[11px] font-bold text-[#0000008F]">Supported Document
      <span class="text-red-500">*</span>
    </label>

    <input type="file" accept="application/pdf" class="hidden" #fileInput
      (change)="onFileChange('supportedDocument', $event)" />

    <div
      class="mt-2 w-full h-[190px] border border-dashed border-[#4319C245] rounded-xl flex items-center justify-center text-center cursor-pointer"
      (click)="fileInput.click()" (drop)="handleDrop($event)" (dragover)="allowDrop($event)">
      <div class="text-[#7C6FA2]">
        <div class="">
          <span class="material-symbols-outlined"> cloud_upload </span>
        </div>
        <p class="text-[11px] text-[#7C6FA2]">
          <span class="font-semibold">Click to upload</span><span> or drag and drop</span><br>
          <span class="text-[10px] text-[#7C6FA2]">PDF(MAX 5MB)</span>
        </p>
      </div>
    </div>

    <!-- filename -->
    @if (selectedFileName) {
      <div class="text-[8px] text-[#7C6FA2] mt-2">
        Selected: {{ selectedFileName }}
      </div>
    }

    @if (form.get('supportedDocument')?.touched && form.get('supportedDocument')?.invalid) {
      <div class="text-[8px] text-red-500 mt-1">
        Document required (PDF max 10MB)
      </div>
    }
  </div>
</div>