<div class="w-full mx-auto" aria-label="Company Details Form">
  <!-- Tabs -->
  <nav
    class="relative flex after:absolute after:bottom-0 after:left-1 after:right-3 after:border-b mb-4"
    [style.--after-border-color]="'var(--border-light)'"
    style="&::after { border-color: var(--border-light); }"
    role="tablist">
    <button type="button" role="tab" [attr.aria-selected]="activeTab() === 'identity'"
      class="relative pb-2 pt-2 text-[13px] font-bold focus:outline-none cursor-pointer transition-all duration-300"
      [style.color]="activeTab() === 'identity' ? 'var(--text-primary)' : 'var(--text-primary)'"
      (click)="switchTab('identity')" [ngClass]="{
    'after:content-[\'\'] after:absolute after:left-1/2 after:bottom-0 after:-translate-x-1/2 after:w-[95%] after:h-1.5 after:rounded-tr-[13px] after:rounded-tl-[15px]':
      activeTab() === 'identity'
    }"
      [style.--after-bg]="activeTab() === 'identity' ? 'var(--primary-600)' : 'transparent'"
      style="&::after { background-color: var(--primary-600); }">
      Company Identity Details
    </button>

    <button type="button" role="tab" [attr.aria-selected]="activeTab() === 'addresses'"
      class="relative px-4 pb-2 pt-2 text-[13px] font-bold focus:outline-none cursor-pointer transition-all duration-300"
      [style.color]="activeTab() === 'addresses' ? 'var(--text-primary)' : 'var(--text-primary)'"
      (click)="switchTab('addresses')" [ngClass]="{
    'after:content-[\'\'] after:absolute after:left-1/2 after:bottom-0 after:-translate-x-1/2 after:w-[90%] after:h-1.5 after:rounded-tr-[13px] after:rounded-tl-[15px]':
      activeTab() === 'addresses'
    }"
      [style.--after-bg]="activeTab() === 'addresses' ? 'var(--primary-600)' : 'transparent'"
      style="&::after { background-color: var(--primary-600); }">
      Registered & Operational Addresses
    </button>
  </nav>

  <!-- Identity Details Tab -->
  @if (activeTab() === 'identity') {
  <section class="">
    <form [formGroup]="identityForm" (ngSubmit)="onSubmit()" class="space-y-3" autocomplete="off" novalidate>
      <div class="grid grid-cols-1 md:grid-cols-1">
        <div>
          <label class="block text-[12px] font-semibold mb-1" style="color: var(--text-secondary)">Company Name (Legal)<span
              class="text-red-500 mb-2">*</span></label>
          <input formControlName="companyName"
            class="w-full rounded-md border px-3 py-2 focus:outline-none placeholder:text-[12px]"
            style="border-color: var(--border-light); color: var(--text-primary); background-color: var(--bg-card)"
            [style.border-color]="companyName.invalid && companyName.touched ? 'var(--error)' : 'var(--border-light)'"
            [style.focus:border-color]="'var(--primary-500)'"
            placeholder="e.g., ABC Infrastructure Pvt. Ltd." />

          @if (companyName.touched && companyName.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (companyName.errors?.['required']) {
            <div>Company name is required.</div>
            }
            @if (companyName.errors?.['minlength']) {
            <div>Company name must be at least 3 characters.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Business Type<span
              class="text-red-500">*</span></label>
          <p-select inputId="businessType" [options]="businessTypes()" optionLabel="name" optionValue="id"
            placeholder="Select Type" formControlName="businessType" [filter]="true" filterBy="name" [showClear]="true"
            [class]="'w-full text-[12px]'"  aria-required="true" [attr.aria-invalid]="businessType.invalid" appendTo="body">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>

          @if (businessType.touched && businessType.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (businessType.errors?.['required']) {
            <div>Business type is required.</div>
            }
          </div>
          }
        </div>

        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Registration Number<span
              class="text-red-500">*</span></label>
          <input formControlName="registrationNumber"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="e.g., CIN: U12345WB2015PTC123456" />

          @if (registrationNumber.touched && registrationNumber.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (registrationNumber.errors?.['required']) {
            <div>Registration number is required.</div>
            }
            @if (registrationNumber.errors?.['pattern']) {
            <div>Registration number format is invalid.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Date of Incorporation<span
              class="text-red-500">*</span></label>
          <input formControlName="dateOfIncorporation" type="date"
            class="w-full h-10.5 rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-primary-500 text-[#7C6FA2] text-[12px]" />

          <div *ngIf="dateOfIncorporation.touched && dateOfIncorporation.invalid" class="text-red-500 text-[12px] mt-1">
            <div *ngIf="dateOfIncorporation.errors?.['required']">Date of incorporation is required.</div>
            <div *ngIf="dateOfIncorporation.errors?.['futureDate']">Date cannot be in the future.</div>
          </div>
        </div>

        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Industry Category<span
              class="text-red-500">*</span></label>
          <!-- <select formControlName="industryCategory" required
            class="w-full h-10.5 rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-primary-500 text-gray-700 text-[12px] invalid:text-[#7C6FA2]">
            <option value="" disabled hidden>Select Type</option>
            <option value="IT">IT</option>
            <option value="Construction">Construction</option>
          </select> -->
          <p-select inputId="industryCategory" [options]="industryCategories()" optionLabel="name" optionValue="id"
            placeholder="Select Type" formControlName="industryCategory" [filter]="true" filterBy="name"
            [showClear]="true" [class]="'w-full text-[12px]'" aria-required="true"
            [attr.aria-invalid]="industryCategory.invalid" appendTo="body">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>

          @if (industryCategory.touched && industryCategory.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (industryCategory.errors?.['required']) {
            <div>Industry category is required.</div>
            }
          </div>
          }
        </div>
      </div>

      <div>
        <label class="block text-[12px] font-semibold form-label mb-1">Nature of Business<span
            class="text-red-500">*</span></label>
        <textarea rows="4" formControlName="natureOfBusiness"
          class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
          placeholder='Short description (e.g., "Supplier of construction materials")'></textarea>

        <div *ngIf="natureOfBusiness.touched && natureOfBusiness.invalid" class="text-red-500 text-[12px] mt-1">
          <div *ngIf="natureOfBusiness.errors?.['required']">Nature of business is required.</div>
          <div *ngIf="natureOfBusiness.errors?.['maxlength']">Description cannot exceed 500 characters.</div>
        </div>
      </div>
    </form>
  </section>
  }

  <!-- Registered & Operational Addresses Tab -->
  @if(activeTab() === 'addresses'){
  <section class="">
    <form [formGroup]="addressForm" (ngSubmit)="onSubmit()" class="space-y-3" autocomplete="off" novalidate>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Registered Address<span
              class="text-red-500">*</span></label>
          <input formControlName="registeredAddress"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="Legal office as per incorporation certificate" />
          @if (registeredAddress.touched && registeredAddress.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if(registeredAddress.errors?.['required']) {
            <div>Registered address is required.</div>
            }
          </div>}
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Operational Address<span
              class="text-red-500">*</span></label>
          <input formControlName="operationalAddress"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="Where operations or supply chain is managed" />
          @if (operationalAddress.touched && operationalAddress.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (operationalAddress.errors?.['required']) {
            <div>Operational address is required.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Country<span class="text-red-500">*</span></label>
          <p-select inputId="country" [options]="countries()" optionLabel="name" optionValue="countryid"
            placeholder="Select Country" formControlName="country" [filter]="true" filterBy="name"
            [showClear]="true" [class]="'w-full text-[12px]'" aria-required="true"
            [attr.aria-invalid]="country.invalid">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>
          @if (country.touched && country.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (country.errors?.['required']) {
            <div>Country is required.</div>
            }
          </div>
          }
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">State<span class="text-red-500">*</span></label>
          <!-- <select formControlName="state" required
            class="w-full h-10.5 rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-primary-500 text-gray-700 text-[12px] invalid:text-[#7C6FA2]">
            <option value="" disabled hidden>Select State</option>
            <option value="West Bengal">West Bengal</option>
          </select> -->
          <p-select inputId="state" [options]="states()" optionLabel="name" optionValue="stateid"
            placeholder="Select State" formControlName="state" [filter]="true" filterBy="name"
            [showClear]="true" [class]="'w-full text-[12px]'" aria-required="true"
            [attr.aria-invalid]="state.invalid">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>

          @if (state.touched && state.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (state.errors?.['required']) {
            <div>State is required.</div>
            }
          </div>
          }
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">City<span class="text-red-500">*</span></label>
          <!-- <select formControlName="city" required
            class="w-full h-10.5 rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-primary-500 text-gray-700 text-[12px] invalid:text-[#7C6FA2]">
            <option value="" disabled hidden>Select City</option>
            <option value="Kolkata">Kolkata</option>
          </select> -->
          <p-select inputId="city" [options]="cities()" optionLabel="name" optionValue="cityid"
            placeholder="Select City" formControlName="city" [filter]="true" filterBy="name"
            [showClear]="true" [class]="'w-full text-[12px]'" aria-required="true"
            [attr.aria-invalid]="city.invalid">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>
          @if (city.touched && city.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (city.errors?.['required']) {
            <div>City is required.</div>
            }
          </div>
          }
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">PIN<span class="text-red-500">*</span></label>
          <input formControlName="pin"
            class="w-full h-10.5 rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="Enter Your PIN" />
          @if (pin.touched && pin.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (pin.errors?.['required']) {
            <div>PIN is required.</div>
            }
            @if (pin.errors?.['pattern']) {
            <div>PIN must be 6 digits.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Contact Person (Authorized
            Representative)<span class="text-red-500">*</span></label>
          <input formControlName="contactPerson"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="e.g., Mr. Rajesh Singh" />
          @if (contactPerson.touched && contactPerson.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (contactPerson.errors?.['required']) {
            <div>Contact person is required.</div>
            }
          </div>
          }
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Designation / Role<span
              class="text-red-500">*</span></label>
          <!-- <select formControlName="designation" required
            class="w-full h-10.5 rounded-md border border-gray-300 px-3 py-2 focus:outline-none focus:border-primary-500 text-[12px] invalid:text-[#7C6FA2]">
            <option value="" disabled hidden>Select Designation</option>
            <option value="Director">Director</option>
            <option value="Procurement Head">Procurement Head</option>
          </select> -->
          <p-select inputId="designation" [options]="designations()" optionLabel="name" optionValue="id"
            placeholder="Select Designation" formControlName="designation" [filter]="true" filterBy="name"
            [showClear]="true" [class]="'w-full text-[12px]'" aria-required="true"
            [attr.aria-invalid]="designation.invalid">
            <ng-template #selectedItem let-option>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ option.name }}</span>
              </div>
            </ng-template>

            <ng-template #item let-type>
              <div class="flex items-center gap-2">
                <i class="pi pi-briefcase form-icon-primary"></i>
                <span>{{ type.name }}</span>
              </div>
            </ng-template>
          </p-select>

          @if (designation.touched && designation.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (designation.errors?.['required']) {
            <div>Designation is required.</div>
            }
          </div>
          }
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Email Address (Official)<span
              class="text-red-500">*</span></label>
          <input formControlName="email" type="email"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="e.g., rajesh@abcinfra.com" />
          @if (email.touched && email.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (email.errors?.['required']) {
            <div>Email is required.</div>
            }
            @if (email.errors?.['email']) {
            <div>Enter a valid email address.</div>
            }
          </div>
          }
        </div>
        <div>
          <label class="block text-[12px] font-semibold form-label mb-1">Phone Number (Official)<span
              class="text-red-500">*</span></label>
          <input formControlName="phone" type="tel"
            class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
            placeholder="e.g., +91 9876543210" />
          @if (phone.touched && phone.invalid) {
          <div class="text-red-500 text-[12px] mt-1">
            @if (phone.errors?.['required']) {
            <div>Phone is required.</div>
            }
            @if (phone.errors?.['pattern']) {
            <div>Enter a valid phone number.</div>
            }
          </div>
          }
        </div>
      </div>

      <div>
        <label class="block text-[12px] font-semibold form-label mb-1">Alternate Contact (Optional)</label>
        <input formControlName="alternateContact"
          class="w-full rounded-md border px-3 py-2 form-input placeholder:text-[12px]"
          placeholder="Backup contact for emergencies" />
      </div>
    </form>
  </section>
  }
</div>
